.container{
      text-align: center;

      button{
            position: absolute;
            left: 5px;
            top: 5px;
      }

      .product{
            text-align: center;
            img{
                  width: 40%;
            }
      }
}